<!-- Angular Code Marathon Question 1 : Login & Registration Form -->
<!-- <app-home-page></app-home-page> -->

<!-- Angular Code Marathon Question 2 : Like & Dislike Component -->
<!-- <app-like-dislike-page></app-like-dislike-page> -->

<!-- Angular Code Marathon Question 3 : Pipe for compound interest -->
<!-- <app-compound-interest-page></app-compound-interest-page> -->

<!-- Angular Code Marathon Question 4 : Fund Transfer Form -->
<!-- <app-fund-transfer-page></app-fund-transfer-page> -->

<!-- Angular Code Marathon Question 5 : Service Routing  -->
<!-- <app-friend-list-page></app-friend-list-page> -->


<ul>
    <li><a routerLink="login-registration">Login Registration</a></li>
    <li><a routerLink="like-dislike">Like Dislike</a></li>
    <li><a routerLink="compound-interest">Compound Interest</a></li>
    <li><a routerLink="fund-transfer">Funds Transfer</a></li>
    <li><a routerLink="service-routing">Service Routing</a></li>
</ul>

<router-outlet></router-outlet>