<h3 class="headerStyle">Registration Form</h3>
<table class="formTable">
    <tr>
        <td>User Name</td>
        <td><input type="text" [(ngModel)]="userName" placeholder="Enter user name..."></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" [(ngModel)]="userEmail" placeholder="Enter email..."></td>
    </tr>
    <tr>
        <td>Address </td>
        <td><input type="text" [(ngModel)]="userAddress" placeholder="Enter address..."></td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td><input type="text" [(ngModel)]="userPhone" placeholder="Enter phone number..."></td>
    </tr>
</table>