td{
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
}
/* button{
    color: white;
    background-color:green;
    margin: 10px;
    width: 100px;
    height: 35px;
    font-size: 16px;

} */