<h1>Friend List Page</h1>


<ul>
    <li><a routerLink="/addfriend">Add A Friend</a></li>
    <li><a routerLink="/modifyfriend">Modify A Friend</a></li>
    <li><a routerLink="/viewfriend">View Friend</a></li>
    <li><a routerLink="/showallfriends">View All Friends</a></li>
</ul>


<div>
<h3>Modify Friend Details</h3>

<table>
    <tr>
        <td>Enter User Name</td>
        <td>Enter New Name</td>
        <td>Enter New Age</td>
        <td>Enter New Gender</td>
        <td>Enter New City</td>
    </tr>
    <tr>
        <td><input type="text" [(ngModel)]="friendObj.friendUserName"></td>
        <td><input type="text" [(ngModel)]="friendObj.friendName"></td>
        <td><input type="number" [(ngModel)]="friendObj.friendAge"></td>
        <td><input type="text" [(ngModel)]="friendObj.friendGender"></td>
        <td><input type="text" [(ngModel)]="friendObj.friendCity"></td>
    </tr>
    <tr><button (click)="modifyFriend()">Modify</button></tr>
</table>
</div>

<router-outlet></router-outlet>