h3{
    color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;

}
tr{
    width: 40%;
    height: 30px;
}
td{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
}