<!-- <h1>hello {{title}}</h1>
<h2>First Name: {{thePersonObj.firstName}}......{{firstName}} <br>
Last Name: {{thePersonObj.lastName}} <br>
Age: {{thePersonObj.age}} <br>
City: {{thePersonObj.city}} <br>

</h2> -->

<h1>App components</h1>

<!-- <app-header></app-header>
<app-side-navigation></app-side-navigation>
<app-main></app-main>
<app-footer></app-footer> -->
<!-- <app-condition></app-condition> -->
<!-- <app-switch></app-switch>
 -->
 <!-- <app-like-dislike></app-like-dislike> -->
 <!-- <app-for-test></app-for-test>
 -->

 <!-- <button (click)="transferFund()"> Transfer Fund</button> <br>
 <button (click)="printing()"> Bank Amount </button> <br>
 <button (click)="demo()"> Demo </button>  -->
<!-- <app-simple-interest></app-simple-interest> -->

<!-- <app-account-service></app-account-service> -->
<!-- <app-add-payee></app-add-payee> -->

<!-- <app-add-flight></app-add-flight>
<app-delete-flight></app-delete-flight>
<app-viewflights></app-viewflights>
<app-view-all-flights></app-view-all-flights> -->

<!-- <app-add-statement></app-add-statement>
<app-delete-statement></app-delete-statement> -->
<!-- 

<p>Today date is date {{TodaysDate}}</p>
<p>Today date is date {{TodaysDate | date}}</p>
<p>Today date is date {{TodaysDate | date:'dd/MM/y'}}</p>
<p>Today date is date {{TodaysDate | date:'short'}}</p>
<p>Today date is date {{TodaysDate | date:'medium'}}</p>
<p>Today date is date {{TodaysDate | date:'long'}}</p>
<p>Today date is date {{TodaysDate | date:'full'}}</p>

<p>Today date is date dd/mm/yyyy formate{{TodaysDate | date:'dd/MM/yyyy'}}</p>
<p>Today date is date medium date {{TodaysDate | date:'mediumDate'}}</p>
<p>Today date is date short date {{TodaysDate | date:'shortDate'}}</p>

<p>Today date is date short date {{TodaysDate | date:'short':'IST'}}</p>

<p>My salary is {{Salary | currency}}</p>
<p>My salary is {{Salary | currency:'INR'}}</p>
<p>My salary is {{Salary | currency:'EUR'}}</p> -->

<!-- <p>calculateAverage of {{10| calculateAverage:20:30:40}}</p>
<p>calculateAverage of {{10| calculateAverage:120:130:410}}</p>
<p>calculateAverage of {{10| calculateAverage:210:320:140}}</p> -->

<!-- <p>Simple interest if{{1000|simpleInterest:2:3}}</p> -->
<!-- <app-funds-transfer-page></app-funds-transfer-page> -->

<!-- <ul>
    <li> <a routerLink="/Home">Home</a> </li>
    <li><a routerLink="/About">About Us</a></li>
    <li><a routerLink="/Profile">Profile</a></li>
    <li><a routerLink="/Career">Career</a></li>
</ul>
<router-outlet></router-outlet>     important-> this is always in the last line of the code otherwise upper functionality will not work properly -->

<!-- <app-saving-account></app-saving-account> -->

<!-- <div id="material-example">
   
    <h1>ToolBar</h1>
     
    <mat-toolbar color="primary">
       
          <span>Material Design Rocks!</span>
     
    </mat-toolbar>
     
     <br/>
     
     <h1>Buttons</h1>
  
   <mat-card>
  
    <button mat-button>Basic</button>
    <button mat-raised-button>Raised</button>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>mFab</button>
  
  </mat-card>
  
  </div>




 -->

 <!-- <app-tamplate-form> </app-tamplate-form> -->

 <!-- <app-observer-demo></app-observer-demo> -->

 <app-condition></app-condition>
