<!-- <app-home></app-home> -->

<!-- <app-like-dislike></app-like-dislike> -->

<!-- <p>compound Interest is:{{5000|compoundInterest:66:12:3}}</p> -->

<!-- <app-fund-transfer></app-fund-transfer> -->

<h2>Friends - Friends</h2>
<ul>
  <li><a routerLink="/CreateFriend">Create new Friend</a></li>
  <li><a routerLink="/AllFriends">Meet with All Friends</a></li>
  <li><a routerLink="/ModifyFriend">Modify Friend</a></li>
  <li><a routerLink="/ViewFriend">Meet any one of my Friend</a></li>
</ul>
<router-outlet></router-outlet>